<ion-header>
  <ion-toolbar>
    <ion-title> Unconvencional vision </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content color="light">
  <ion-list inset="true">
    <ion-item>
      <ion-label>
        <h3>About:</h3>
        <p>This app collects bluetooth signal information and tries to predict what's in front of it</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <h3>Technlogy:</h3>
        <p>Tenosrflow</p>
        <p>Bluetooth Le</p>
        <p>Wifi Scan</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-list inset="true">
    <ion-item>
      <ion-label>
        <h3>Author:</h3>
        <p>Filipe Mota de Sá. Catch me up at github.com/pihh</p>
      </ion-label>
    </ion-item>
 
  </ion-list>
</ion-content>