
<ion-list inset="true">
  <ion-list-header> Predict </ion-list-header>

  <div
    #cameraPreviewContainer
    id="cameraPreviewContainer"
    class="camera-container"
  >
    <video #video autoplay playsinline muted></video>
    <canvas #heatmapCanvas class="heatmap-canvas"></canvas>
  </div>
</ion-list>

<ion-list inset="true">
  <ion-item lines="none">
    <ion-label>
      <h3>Predicted: {{ predictionLabel }}</h3>
      <p>Confidence: {{predictionConfidence | percent:'1.0-1' }}</p>
    </ion-label>
  </ion-item>
  <ion-item lines="none">
    <ion-button expand="block" (click)="toggleLivePredict()">
      {{ predicting ? "Stop Prediction" : "Live Predict" }}
    </ion-button>
  </ion-item>
</ion-list>
